@page "/"
@inject IUserService userService
@inject IPostService PostService
@inject ICommentService CommentService
@using System.Net.Http.Json
@using ApiContracts.DTOs
@using BlazorApp.Services
@using Entities
<h3>Create a new post</h3>
<div style="display:flex; flex-direction: column; width: 250px; gap: 10px;">
    <label>
        Title
        <input @bind="title" />
    </label>
    
    <label>
        Body
        <input @bind="body" />
    </label>
    
    <label>
        Author
        <select @bind="userIdForPost">
            @foreach (var user in allUsers)
            {
                <option value="@user.Id">@user.Username</option>
            }
        </select>
        
    </label>
    
    <button @onclick="CreateNewPost">
        Enter
    </button>
</div>
<p style="color: @messageColor">@message</p>
<h3>Posts</h3>
<div style="display: flex; flex-direction: column; gap: 20px;">
    @foreach (var post in posts)
    {
        User userCreatedThisPost = usersByIdThatCreatedPosts.GetValueOrDefault(post.UserId);
        List<Comment> comments = allComments.Where(comment => comment.PostId == post.Id).ToList();
        
        <div style="border: 1px solid #ccc; padding: 15px; border-radius: 6px;">
            <div style="cursor: pointer; font-weight: bold;" @onclick="@(() => TogglePost(post))"><h4>@post.Title</h4></div>
            @if (post.IsOpen)
            {
                <div>
                    <p>@post.Body</p>
                    <small>
                        Author: @userCreatedThisPost.Username <br/>
                    </small>
                    @foreach(var comment in comments)
                    {
                        <small>
                            Comment: @comment.Body <br/>
                        </small>
                    }
                  
                </div>
                <div>  
                    <label>
                        Comment text:
                        <input @bind="commentText" />
                    </label>
    
                    <label>
                        Author
                        <select  @bind="userIdForComment">
                            @foreach (var user in allUsers)
                            {
                                <option value="@user.Id">@user.Username</option>
                            }
                        </select>
                    </label>
                    <button @onclick="()=>CreateNewComment(post.Id)">
                        Enter
                    </button>
                    </div>
            }
           
        </div>
    }
</div>
@code {
    private string title = "";
    private string body = "";
    private string commentText = "";
    private int userIdForPost;
    private int userIdForComment;
    private List<User> allUsers = new List<User>();
    private List<Comment> allComments = new List<Comment>();
    private string message = "";
    private string messageColor = "";
    
    private List<Post>? posts = new List<Post>();
    private Dictionary<int, User> usersByIdThatCreatedPosts = new Dictionary<int, User>();
    
    private async void CreateNewPost()
    {
        var data = new CreatePostDTO()
        {
            Title = title,
            Body = body,
            UserId = userIdForPost
        };
        try
        {
            await PostService.CreatePostAsync(data);
            posts.Add(new Post(title, body, userIdForPost));
            usersByIdThatCreatedPosts.Add(userIdForPost, allUsers.Where(user => user.Id == userIdForPost).First());
            title = "";
            body = "";
            userIdForPost = 0;
            StateHasChanged();
        }
        catch(Exception e){}
        
    }

    private async void CreateNewComment(int postId)
    {
        var data = new CommentDTO()
        {
            Body = commentText,
            UserId = userIdForComment,
            PostId = postId
        };
        try
        {
            await CommentService.AddCommentAsync(data);
            allComments.Add(new Comment(commentText, userIdForComment, postId));
            commentText = "";
            userIdForComment = 0;
            StateHasChanged();
        }
        catch (Exception e)
        {
            // ignored
        }
    }
    protected override async Task OnInitializedAsync()
    {
        posts = await PostService.GetAllPostsAsync();
        var userIds = posts.Select(post => post.UserId).Distinct().ToList();

        foreach (var id in userIds)
        {
            var user = await userService.GetUserById(id);

            if (user is not null)
            {
                usersByIdThatCreatedPosts[id] = user;
            }
        }

        await LoadAllUsers();
        await LoadAllComments();
    }

    private void TogglePost(Post post)
    {
        post.IsOpen = !post.IsOpen;
    }


    private async Task LoadAllUsers()
    {
        allUsers = await userService.GetAllUsers();
    }
    private async Task LoadAllComments()
    {
        allComments = await CommentService.GetAllComments();
    }
    

}